/* Watchlist.css */

.watchlist-container {
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h2 {
  font-size: 2rem;
  color: #333;
}

.main-content {
  display: flex;
  justify-content: space-between; /* Space between the table and news cards */
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 55%; /* Increase the width of the table container */
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Adjust table width */
.watchlist-table {
  width: 100%; /* Ensure table takes full width of container */
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.watchlist-table th,
.watchlist-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1rem;
}

.watchlist-table th {
  background-color: #4c74af;
  color: white;
  text-transform: uppercase;
}

.watchlist-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.watchlist-table tr:hover {
  background-color: #e0e0e0;
}

.watchlist-table td {
  color: #333;
}

.content {
  margin-left: 150px;
  padding: 20px; 
  flex: 1;  
}

.news-cards-container {
  margin-left: 10%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%; /* Reduce the width of the news cards container */
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* News cards */
.news-card {
  border: 1px solid #ddd;
  padding: 8px; /* Slightly reduce padding */
  margin-bottom: 8px; /* Slightly reduce margin */
  font-size: 0.9rem; /* Slightly reduce the font size */
}

.news-card h3 {
  font-size: 1.1rem; /* Slightly reduce the font size of the heading */
}

.news-card h4 {
  font-size: 0.9rem; /* Slightly reduce the font size of the subheading */
}

.news-card p {
  font-size: 0.8rem; /* Slightly reduce the font size of the paragraph text */
}

.news-card a {
  font-size: 0.8rem; /* Slightly reduce the font size of the link */
}